p{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: chartreuse;
}
div{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 100px;
    margin: auto;
    background-color: chartreuse;
}
button{
    width: 70px;
    color:green;
    background-color: lawngreen;
    border-radius: 7px;
}
input{
    width: 200px;
    border-radius: 5px;
    color: darkgrey;
    background-color: rgb(223, 233, 223);
}
body{
    background-color: green;
    margin: auto;
}